/* 
    Created on : 6 Jan, 2020, 12:28:24 PM
    Author     : Nisha
*/

body{
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 18px;
    padding-top: 150px;
}
.error{
    color: #FF0000;
}
.success{
    color: #0000FF;
}
